// Body
$body-bg: #15202b;

// Typography
$font-family-sans-serif: 'Play', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$twitterBlue: #1da1f2;
$twitterDark: #15202b;
$twitterItem: #192734;
$twitterBlueHighlight: #162d40;
$twitterHighlight: #1d2734;
$twitterHighlightTwo: #202e3a;
$twitterBorder : rgb(61, 84, 102);
$twitterConnector: #3d5466;
$twitterDarkWOpacity: rgba(190, 189, 189, 0.144);
$twitterDarkSlateGray: #403231;
$twitterSearchBar: #253341;
