// Fonts
@import url('https://fonts.googleapis.com/css?family=Play&display=swap');

// Variables
@import 'variables';
* {
    font-family: $font-family-sans-serif;
    margin: 0;
    padding: 0;
    &:focus{
        outline: none;
    }
}

body{
    color:white;
    height: 100%;
    width: 100%;
    background-color: $twitterDark;
}
button{
    border:none;
}
.tweetCompMain{
    z-index: 10;
    position: fixed;
    @media only screen and (max-width: 700px){
        width: 100vw;
        height: 100vh;
        border-radius: 0px;
        margin-left: 0px;
        margin-top: 0px;
    }
    margin-left: calc(50vw - 300px);
    margin-top: 5vh;
    width: 600px;
    height: 300px;
    border-radius: 13px;
    background-color: $twitterDark;
    .tweetCompMainPlaceholder{
        width: 100%;
        height: 100%;
        display: inline-block;
        .tweetCompHeaderBar{
            width: 100%;
            height: 55px;
            border-bottom: 1px solid $twitterBorder
        }
        .tweetCompMainContent{
            width: 100%;
            height: calc(100% - 55px);
            .tweetCompMainContentPlaceholder{
                height: 100%;
                padding-left: 15px;
                padding-right: 15px;
                .sideProfileMain{
                    width: 50px;
                    height: 100%;
                    display: inline-block;
                    margin-right: 5px;
                }
                .tweetCompositionMain{
                    width: calc(100% - 61px);
                    height: calc(100% - 10px);
                    display: inline-block;
                    margin-bottom: 10px;
                    margin-left: 2px;
                    .tweetCompostisionMainPlaceholder{
                        width: 100%;
                        height: 100%;
                        .tweetMainCompositionArea{
                            width: 100%;
                            height: calc(100% - 50px);
                        }
                        .tweetCompFooter{
                            height: 50px;
                        }
                    }
                }
            }
        }
    }
}
.colorBlue{
    color: $twitterBlue;
}
@media only screen and (max-width: 1340px){
.leftMain{
    float: left;
    @media only screen and (max-width: 1125px){
        width: calc(36.8vw - 300px);
    }
    @media only screen and (max-width: 1005px){
        width: calc(48vw - 300px);
    }
    @media only screen and (max-width: 788px){
        width: 68px;
    }
    width: calc(34.5vw - 300px);
    height: 100vh;
    position: relative;
    z-index: 3;
        .leftPlaceholder{
            position: inherit;
            float: right;
            width: 88px;
            .leftContentHolder{
                width: inherit;
                position: fixed;
                height: fit-content;
                .sidebarMenuContainer{
                    width: 60%;
                    float: right;
                    margin-right: 10%;
                    cursor: pointer;
                    padding-top: 8px;
                    padding-bottom: 8px;
                    &:hover > .sidebarMenuLinks{
                        border-radius: 35px;
                        background-color: $twitterBlueHighlight;
                        filter: brightness(0.6) sepia(1) saturate(5000%) invert(1);
                    }
                    .sidebarMenuLinks{
                        text-align: center;
                        cursor: pointer;
                        height: 35px;
                        width: fit-content;
                        padding-right: 10px;
                        padding-left: 10px;
                        padding-top: 3px;
                        padding-bottom: 3px;
                        &:hover{
                            border-radius: 35px;
                            background-color: $twitterBlueHighlight;
                            filter: brightness(0.6) sepia(1) saturate(5000%) invert(1);
                        }
                        .spanThingy{
                            display: none;
                        }
                        .sidebarMenuElements {
                            vertical-align: middle;
                            margin: 5px;
                            font-size: 18px;
                            font-weight: 700;
                        }
                    }
                }
                .sidebarMenuContainerCurrent{
                    width: 60%;
                    float: right;
                    margin-right: 10%;
                    cursor: pointer;
                    padding-top: 8px;
                    padding-bottom: 8px;
                    &:hover > .sidebarMenuLinks{
                        border-radius: 35px;
                        background-color: $twitterBlueHighlight;
                        color: $twitterBlue;
                    }
                    .sidebarMenuLinks{
                        text-align: center;
                        cursor: pointer;
                        height: 35px;
                        width: fit-content;
                        padding-right: 10px;
                        padding-left: 10px;
                        padding-top: 3px;
                        padding-bottom: 3px;
                        &:hover{
                            border-radius: 35px;
                            background-color: $twitterBlueHighlight;
                            color: $twitterBlue;
                        }
                        .spanThingy{
                            display: none;
                        }
                        .sidebarMenuElements {
                            vertical-align: middle;
                            margin: 5px;
                            font-size: 18px;
                            font-weight: 700;
                        }
                    }
                }
                .bigTweetButton{
                    cursor: pointer;
                    float: right;
                    margin-right: 10%;
                    background-color: $twitterBlue;
                    border: 2px solid $twitterBlue;
                    margin-top: 17px;
                    color:white;
                    border-radius: 50px;
                    width: 50px;
                    height: 50px;
                    &:hover{
                        border: 2px solid $twitterBlueHighlight;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 1341px){
    .leftMain{
        position: relative;
        float: left;
        width: calc(45vw - 300px);
        z-index: 3;
        height: 100vh;
        .leftPlaceholder{
            position: relative;
            float: right;
            width: 275px;
            .leftContentHolder{
                width: inherit;
                position: fixed;
                z-index: initial;
                height: fit-content;
                .sidebarMenuContainer{
                    width: 95%;
                    cursor: pointer;
                    padding-top: 8px;
                    padding-bottom: 8px;
                    &:hover > .sidebarMenuLinks{
                        border-radius: 35px;
                        background-color: $twitterBlueHighlight;
                        filter: brightness(0.6) sepia(1) saturate(5000%) invert(1);
                    }
                    .sidebarMenuLinks{
                        text-align: center;
                        cursor: pointer;
                        height: 35px;
                        width: fit-content;
                        padding-right: 10px;
                        padding-left: 10px;
                        padding-top: 3px;
                        padding-bottom: 3px;
                        &:hover{
                            border-radius: 35px;
                            background-color: $twitterBlueHighlight;
                            filter: brightness(0.6) sepia(1) saturate(5000%) invert(1);
                        }
                        .sidebarMenuElements {
                            vertical-align: middle;
                            margin: 5px;
                            font-size: 18px;
                            display: inline-block;
                            font-weight: 700;
                        }
                    }
                }
                .sidebarMenuContainerCurrent{
                    width: 95%;
                    cursor: pointer;
                    padding-top: 8px;
                    padding-bottom: 8px;
                    &:hover > .sidebarMenuLinks{
                        border-radius: 35px;
                        background-color: $twitterBlueHighlight;
                        color: $twitterBlue;
                    }
                    .sidebarMenuLinks{
                        text-align: center;
                        cursor: pointer;
                        height: 35px;
                        width: fit-content;
                        padding-right: 10px;
                        padding-left: 10px;
                        padding-top: 3px;
                        padding-bottom: 3px;
                        &:hover{
                            border-radius: 35px;
                            background-color: $twitterBlueHighlight;
                            color: $twitterBlue;
                        }
                        .sidebarMenuElements {
                            vertical-align: middle;
                            margin: 5px;
                            font-size: 18px;
                            display: inline-block;
                            font-weight: 700;
                        }
                    }
                }
                .bigTweetButton{
                    background-color: $twitterBlue;
                    cursor: pointer;
                    border: 2px solid $twitterBlue;
                    margin-top: 17px;
                    color:white;
                    border-radius: 50px;
                    width: 230px;
                    height: 50px;
                    &:hover{
                        border: 2px solid $twitterBlueHighlight;
                    }
                }
            }
        }
    }
}
.tweetOwnerName{
    cursor: pointer;
    color: $twitterGrayText;
    display: inline-block;
    margin-bottom: 1px;
    text-decoration: none;
    &:hover > .tweetOwnerDisplayName{
        text-decoration: underline;
    }
    .tweetOwnerDisplayName{
        padding-right: 8px;
        display: inline-block;
        color: white;
        font-weight: bold;
        &:hover{
            text-decoration: underline;
        }
    }
}
.show{
    display: none;
}
.temp:hover{
    background-color: blue;
}
.bigCoverTransparent{
    cursor: default;
    top:0;
    right:0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    position: fixed;
    z-index: 6;
}
.bigCoverOpacity{
    cursor: default;
    top:0;
    right:0;
    width: 100vw;
    height: 100vh;
    background-color: $twitterDarkWOpacity;
    position: fixed;
    z-index: 6;
}
.dropdown-content{
    background-color: $twitterDark;
    opacity: 1;
    position: absolute;
    overflow: auto;
    box-shadow: rgba(136, 153, 166, 0.2) 0px 0px 15px, rgba(136, 153, 166, 0.15) 0px 0px 3px 1px;
    z-index: 7 !important;
    width: 150px;
    border-radius: 10px;
}
.globalHeader{
    width:fit-content;
    text-transform: capitalize;
    margin-top: 9px;
    margin-left: 20px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 25px;
    background-color: inherit;
}
.fileUpload{
    display: none;
}
.miniProfilePic{
    border-radius: 50%;
}
.searchBar{
    border:none;
    border-radius: 25px;
    height: inherit;
    width: 100%;
    margin-top: 5px;
    background-color: $twitterSearchBar;
}
.searchInput{
    color: white;
    border:none;
    height: 100%;
    border-radius: 25px;
    background-color: $twitterSearchBar;
    width: 90%;
    float: right;
}
.main{
    @media only screen and (max-width: 688px){
        width: calc(100vw - 88px);
    }
    width: 598px;
    display: inline-block;
    border-right: 1px solid $twitterBorder;
    border-left: 1px solid $twitterBorder;
    .mainHeader{
        position: fixed;
        width: inherit;
        height: 55px;
        background-color: $twitterDark;
        z-index: 5;
        border-bottom: 1px solid $twitterBorder;
    }
}
.timeForHumans{
    cursor: pointer;
    color: $twitterGrayText;
    display: inline-block;
    &:hover{
        text-decoration: underline;
    }
}
.downArrWrapper{
    position: relative;
    float: right;
    width: 27px;
    height: 27px;
    margin-right: -4px;
    margin-top: -7px;
    &:hover{
        border-radius: 50%;
        background-color: $twitterBlueHighlight;
    }
    .downArr{
        width: 15px;
        height: 15px;
        margin: 6px;
    }
}
.defaultPlaceholder{
    height: 55px;
    width: inherit;
    visibility: hidden;
}
@media only screen and (max-width: 1125px){
    .rightMain{
        display: inline-block;
        height: 100vh;
        width: calc(50vw - 300px);
        position: fixed;
        .rightPlaceholder{
            margin-left: 20px;
            width: 290px;
            float: left;
            .rightContentHolder{
                width: inherit;
                .rightMainContent{
                    width: inherit;
                    font-size: 20px;
                }
            }
        }
    }
}
@media only screen and (min-width: 1126px){
    .rightMain{
        display: inline-block;
        height: 100vh;
        position: fixed;
        width: calc(50vw - 300px);
        .rightPlaceholder{
            margin-left: 35px;
            width: 350px;
            float: left;
            .rightContentHolder{
                width: inherit;
                .rightMainContent{
                    font-size: 19px;
                    width: inherit;
                }
            }
        }
    }
}
@media only screen and (max-width: 1005px){
    .rightMain{
        display: none;
    }
}

.homesearch{
    position: fixed;
    z-index: 5;
    width: inherit;
    height: 40px;
    top: 0px;
    background-color: $twitterDark;
}
.twitterItem{
    background-color: $twitterItem;
    margin: 5px;
    margin-top: 20px;
    height: fit-content;
    border-radius: 15px;
    padding-bottom: 15px;
    .twitterItemContent{
        border-bottom: 1px solid $twitterBorder;
        padding: 10px;
        width: calc(100% - 20px);
        height: fit-content;
        &:hover{
            background-color: $twitterHighlightTwo;
            cursor: pointer;
        }
    }
}

.sticky{
    position: fixed;
}

.greenText{
    color: $twitterGreenText;
}
.redText{
    color: $twitterRedText;
}
div[contenteditable]{
    max-height: 600px;
    overflow: auto;
}
div[placeholder]:empty:before {
    content: attr(placeholder);
    color: #555; 
}
.tweetSubmitButton{
    float: right;
    width: 80px;
    height: 30px;
    border: none;
    font-size: 16px;
    border-radius: 15px;
    background-color: $twitterBlue;
    color: white;
    cursor: pointer;
}
.tweetComposer{
    @media only screen and (max-width: 1005px){
        display: none;
    }
    padding-left: 10px;
    padding-right: 10px;
    width: calc(100% - 20px);
    display: flex;
    height: fit-content;
    border-bottom: 10px solid $twitterBorder;
    .tweetComposerBody{
        width: 100%;
        padding-top: 10px;
        height: fit-content;
        .tweetComposerProfile{
            margin-right: 10px;
            width: 50px;
            float: left;
        }
        .tweetComposerContent{
            float: right;
            width: calc(100% - 60px);
            height: fit-content;
            .tweetComposerContentBody{
                width: 100%;
                height: fit-content;
                min-height: 50px;
                background-color: transparent;
                color: white;
                font-size: 21px;
                border: none;
                cursor: text;
            }
            .tweetComposerContentFooter{
                margin-top: 5px;
                height: 40px;
                width: 100%;
                .tweetComposerFooterItem{
                    display: inline-block;
                    cursor: pointer;
                    .tweetFooterIconWrapper{
                        width: 36px;
                        height: 36px;
                        color: $twitterFooterText;
                        &:hover{
                            border-radius: 50%;
                            background-color: $twitterBlueHighlight;
                        }
                        .tweetFooterIcon{
                            margin: 7px;
                        }
                    }
                }
            }
        }
    }
}

.clearfixing:after{
    content: " ";
    display: block;
    clear: both;
}

.pollMain{
    width: calc(98% - 40px);
    padding: 20px;
    margin-left: 1%;
    margin-right: 1%;
    border: 1px solid $twitterBorder;
    border-radius: 15px;
    .pollOptionContainer{
        width: calc(100% - 40px);
        padding-top: 40px;
        display: inline-block;
        .pollOption{
            height: 80px;
            padding-top: 10px;
            padding-bottom: 10px;
            .highlightArea{
                height: 60px;
                background-color: $twitterPoll;
                border-bottom: 2px solid $twitterBorder;
                border-bottom-left-radius: 2px;
                border-bottom-right-radius: 2px;
                .topOption{
                    height: 50%;
                    color: $twitterFooterText;
                }
                .bottomOption{
                    height: 50%;
                    .pollInput{
                        font-size: 15px;
                        color: white;
                        border: none;
                        width: 96%;
                        background-color: transparent;
                        margin-left: 2%;
                        margin-right: 2%;
                    }
                }
            }
        }
    }
    .pollLeftContainer{
        width: 40px;
        float: right;
        min-height: 230px;
        .pollCloseImgWrapper{
            width: 30px;
            height: 30px;
            background-color: $twitterBlue;
            border-radius: 50%;
            &:hover{
                background-color: $twitterBlueTwo;
                cursor: pointer;
            }
        }
    }
    .pollExpirationContainer{
        width: 100%;
        height: 90px;
        padding-top: 10px;
    }
}

.dropdownMenuItem{
    padding: 15px;
    &:hover{
        background-color: $twitterHighlight;
    }
}

.tweetPicture{
    margin-top: 15px;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    height: 250px;
    border-radius: 15px;
    object-fit: cover;
    border: 1px solid $twitterBorder;
    cursor: pointer;
}

.TwoTwoThreeZeroicon{
    margin: 4px;
}

.pollDisplayOptions{
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    padding-top: 10px;
    .pollDisplayOption{
        padding: 2px;
        font-size: 18px;
        margin-bottom: 10px;
        text-align: center;
        width: 100%;
        border-radius: 15px;
        border: 1px solid $twitterBlue;
        color: $twitterBlue;
        &:hover{
            background-color: $twitterHighlightTwo;
            cursor: pointer;
        }
    }
}

.bottomPoll{
    font-size: 15px;
    color: $twitterFooterText;
}

.iframeDisplay{
    width: 100%;
}

.mainPollResultsDisplay{
    width: 85%;
    display: inline-block;
    .graphBar{
        height: 20px;
        padding: 5px;
        border-radius: 5px;
        background-color: $twitterPollResults;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .winner{
        background-color: $twitterPollWinner;
    }
}

.leftPollResultsDisplay{
    float: right;
    width: 10%;
    .percent{
        height: 20px;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.pollTextOption{
    position: absolute;
    text-transform: capitalize;
    margin-left: 10px;
    color: white;
    display: inline;
}

.pollsvg{
    position: absolute;
    float: right;
    fill: $twitterBlue;
    margin-left: -7px;

}

.borderBottom{
    border-bottom: 1px solid $twitterBorder;
}

.pollResultsWindow{
    width: 100%;
    height: 100%;
}

.marginfifteentop{
    margin-top: 15px;
}

.tweet{
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    width: calc(100% - 20px);
    display: flex;
    height: fit-content;
    &:hover{
        background-color: $twitterHighlight;
    }
    .showTweetImgContainer{
        text-align: center;
        .showTweetImg{
            padding-left: 20vw;
            padding-right: 20vw;
            border-radius: 15px;
            background-color: $twitterDarkSlateGray;
        }
    }
    .tweetBody{
        width: 100%;
        padding-top: 10px;
        height: fit-content;
        .tweetProfile{
            margin-right: 10px;
            width: 50px;
            float: left;
        }
        .tweetContent{
            float: right;
            width: calc(100% - 60px);
            height: fit-content;
            .tweetContentBody{
                width: 100%;
            }
            .tweetContentFooter{
                margin-top: 5px;
                height: 40px;
                width: 100%;
                .tweetFooterItem{
                    display: inline-block;
                    margin-right: calc(20% - 35px);
                    .tweetFooterIconWrapper{
                        width: 36px;
                        height: 36px;
                        color: $twitterFooterText;
                        &:hover{
                            border-radius: 50%;
                            background-color: $twitterBlueHighlight;
                        }
                        .tweetFooterIcon{
                            margin: 9px;
                        }
                        .tweetFooterNum{
                            height: 18px;
                            position: absolute;
                            padding: 9px;
                        }
                    }
                    .tweetFooterGreenIconWrapper{
                        width: 36px;
                        height: 36px;
                        color: $twitterFooterText;
                        &:hover{
                            border-radius: 50%;
                            background-color: $twitterGreenHover;
                        }
                        .tweetFooterIcon{
                            margin: 9px;
                        }
                        .tweetFooterNum{
                            height: 18px;
                            position: absolute;
                            padding: 9px;
                        }
                    }
                    .tweetFooterRedIconWrapper{
                        width: 36px;
                        height: 36px;
                        color: $twitterFooterText;
                        &:hover{
                            border-radius: 50%;
                            background-color: $twitterRedHover;
                        }
                        .tweetFooterIcon{
                            margin: 9px;
                        }
                        .tweetFooterNum{
                            height: 18px;
                            position: absolute;
                            padding: 9px;
                        }
                    }
                }
            }
        }
    }
}
.tweetHeader{
    font-size: 12px;
    margin-top: 4px;
    margin-bottom: 2px;
    position: absolute;
    .tweetHeaderPicWrapper{
        margin-right: 5px;
        margin-left: 5px;
        margin-top: 2px;
        margin-bottom: 2px;
        width: 58px;
        float: left;
        .tweetHeaderPic{
            float: right;
        }
    }
    .tweetOwnerName{
        text-decoration: none;
        float: right;
        margin-right: 5px;
        margin-left: 5px;
        margin-top: 2px;
        margin-bottom: 2px;
        &:hover{
            text-decoration: underline;
        }
    }
}