@import url(https://fonts.googleapis.com/css?family=Play&display=swap);* {
  font-family: "Play", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  color: white;
  height: 100%;
  width: 100%;
  background-color: #15202b;
}

button {
  border: none;
}

.tweetCompMain {
  z-index: 10;
  position: absolute;
  margin-left: calc(50vw - 300px);
  margin-top: 5vh;
  width: 600px;
  height: 300px;
  border-radius: 13px;
  background-color: #15202b;
}

.tweetCompMain .tweetCompMainPlaceholder {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.tweetCompMain .tweetCompMainPlaceholder .tweetCompHeaderBar {
  width: 100%;
  height: 55px;
  border-bottom: 1px solid #3d5466;
}

.tweetCompMain .tweetCompMainPlaceholder .tweetCompMainContent {
  width: 100%;
  height: calc(100% - 55px);
}

.tweetCompMain .tweetCompMainPlaceholder .tweetCompMainContent .tweetCompMainContentPlaceholder {
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.tweetCompMain .tweetCompMainPlaceholder .tweetCompMainContent .tweetCompMainContentPlaceholder .sideProfileMain {
  width: 50px;
  height: 100%;
  display: inline-block;
  margin-right: 5px;
}

.tweetCompMain .tweetCompMainPlaceholder .tweetCompMainContent .tweetCompMainContentPlaceholder .tweetCompositionMain {
  width: calc(100% - 61px);
  height: calc(100% - 10px);
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 2px;
}

.tweetCompMain .tweetCompMainPlaceholder .tweetCompMainContent .tweetCompMainContentPlaceholder .tweetCompositionMain .tweetCompostisionMainPlaceholder {
  width: 100%;
  height: 100%;
}

.tweetCompMain .tweetCompMainPlaceholder .tweetCompMainContent .tweetCompMainContentPlaceholder .tweetCompositionMain .tweetCompostisionMainPlaceholder .tweetMainCompositionArea {
  width: 100%;
  height: calc(100% - 50px);
}

.tweetCompMain .tweetCompMainPlaceholder .tweetCompMainContent .tweetCompMainContentPlaceholder .tweetCompositionMain .tweetCompostisionMainPlaceholder .tweetCompFooter {
  height: 50px;
}

.colorBlue {
  color: #1da1f2;
}

@media only screen and (max-width: 1340px) {
  .leftMain {
    float: left;
    width: calc(34.5vw - 300px);
    height: 100vh;
    position: relative;
    z-index: 3;
  }
}

@media only screen and (max-width: 1340px) and (max-width: 1125px) {
  .leftMain {
    width: calc(36.8vw - 300px);
  }
}

@media only screen and (max-width: 1340px) and (max-width: 1005px) {
  .leftMain {
    width: calc(48vw - 300px);
  }
}

@media only screen and (max-width: 1340px) and (max-width: 788px) {
  .leftMain {
    width: 68px;
  }
}

@media only screen and (max-width: 1340px) {
  .leftMain .leftPlaceholder {
    position: inherit;
    float: right;
    width: 88px;
  }

  .leftMain .leftPlaceholder .leftContentHolder {
    width: inherit;
    position: fixed;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  .leftMain .leftPlaceholder .leftContentHolder .sidebarMenuContainer {
    width: 60%;
    float: right;
    margin-right: 10%;
    cursor: pointer;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .leftMain .leftPlaceholder .leftContentHolder .sidebarMenuContainer:hover > .sidebarMenuLinks {
    border-radius: 35px;
    background-color: #162d40;
    color: #1da1f2;
  }

  .leftMain .leftPlaceholder .leftContentHolder .sidebarMenuContainer .sidebarMenuLinks {
    text-align: center;
    cursor: pointer;
    height: 35px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .leftMain .leftPlaceholder .leftContentHolder .sidebarMenuContainer .sidebarMenuLinks:hover {
    border-radius: 35px;
    background-color: #162d40;
    color: #1da1f2;
  }

  .leftMain .leftPlaceholder .leftContentHolder .sidebarMenuContainer .sidebarMenuLinks .spanThingy {
    display: none;
  }

  .leftMain .leftPlaceholder .leftContentHolder .sidebarMenuContainer .sidebarMenuLinks .sidebarMenuElements {
    vertical-align: middle;
    margin: 5px;
    font-size: 18px;
    background-color: inherit;
    font-weight: 700;
  }

  .leftMain .leftPlaceholder .leftContentHolder .bigTweetButton {
    cursor: pointer;
    float: right;
    margin-right: 10%;
    background-color: #1da1f2;
    border: 2px solid #1da1f2;
    margin-top: 17px;
    color: white;
    border-radius: 50px;
    width: 50px;
    height: 50px;
  }

  .leftMain .leftPlaceholder .leftContentHolder .bigTweetButton:hover {
    border: 2px solid #162d40;
  }
}

@media only screen and (min-width: 1341px) {
  .leftMain {
    position: relative;
    float: left;
    width: calc(45vw - 300px);
    z-index: 3;
    height: 100vh;
  }

  .leftMain .leftPlaceholder {
    position: relative;
    float: right;
    width: 275px;
  }

  .leftMain .leftPlaceholder .leftContentHolder {
    width: inherit;
    position: fixed;
    z-index: initial;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  .leftMain .leftPlaceholder .leftContentHolder .sidebarMenuContainer {
    width: 95%;
    cursor: pointer;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .leftMain .leftPlaceholder .leftContentHolder .sidebarMenuContainer:hover > .sidebarMenuLinks {
    border-radius: 35px;
    background-color: #162d40;
    color: #1da1f2;
  }

  .leftMain .leftPlaceholder .leftContentHolder .sidebarMenuContainer .sidebarMenuLinks {
    text-align: center;
    cursor: pointer;
    height: 35px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .leftMain .leftPlaceholder .leftContentHolder .sidebarMenuContainer .sidebarMenuLinks:hover {
    border-radius: 35px;
    background-color: #162d40;
    color: #1da1f2;
  }

  .leftMain .leftPlaceholder .leftContentHolder .sidebarMenuContainer .sidebarMenuLinks .sidebarMenuElements {
    vertical-align: middle;
    margin: 5px;
    font-size: 18px;
    background-color: inherit;
    display: inline-block;
    font-weight: 700;
  }

  .leftMain .leftPlaceholder .leftContentHolder .bigTweetButton {
    background-color: #1da1f2;
    cursor: pointer;
    border: 2px solid #1da1f2;
    margin-top: 17px;
    color: white;
    border-radius: 50px;
    width: 230px;
    height: 50px;
  }

  .leftMain .leftPlaceholder .leftContentHolder .bigTweetButton:hover {
    border: 2px solid #162d40;
  }
}

.tweetOwnerName {
  cursor: pointer;
  color: #687784;
  display: inline-block;
  margin-bottom: 1px;
}

.tweetOwnerName:hover > .tweetOwnerDisplayName {
  text-decoration: underline;
}

.tweetOwnerName .tweetOwnerDisplayName {
  padding-right: 8px;
  display: inline-block;
  color: white;
  font-weight: bold;
}

.tweetOwnerName .tweetOwnerDisplayName:hover {
  text-decoration: underline;
}

.show {
  display: none;
}

.temp:hover {
  background-color: blue;
}

.bigCoverTransparent {
  cursor: default;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  position: fixed;
  z-index: 6;
}

.bigCoverOpacity {
  cursor: default;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(190, 189, 189, 0.144);
  position: fixed;
  z-index: 6;
}

.dropdown-content {
  background-color: #15202b;
  opacity: 1;
  position: absolute;
  overflow: auto;
  box-shadow: rgba(136, 153, 166, 0.2) 0px 0px 15px, rgba(136, 153, 166, 0.15) 0px 0px 3px 1px;
  z-index: 7 !important;
  width: 150px;
  border-radius: 10px;
}

.globalHeader {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: capitalize;
  margin-top: 9px;
  margin-left: 20px;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 25px;
  background-color: inherit;
}

.fileUpload {
  display: none;
}

.miniProfilePic {
  border-radius: 50%;
}

.searchBar {
  border: none;
  border-radius: 25px;
  height: 50px;
  width: 100%;
  margin-top: 5px;
  background-color: #253341;
}

.searchInput {
  color: white;
  border: none;
  height: 100%;
  border-radius: 25px;
  background-color: #253341;
  width: 90%;
  float: right;
}

.main {
  width: 598px;
  display: inline-block;
  border-right: 1px solid #3d5466;
  border-left: 1px solid #3d5466;
}

@media only screen and (max-width: 688px) {
  .main {
    width: calc(100vw - 88px);
  }
}

.main .mainHeader {
  position: fixed;
  width: inherit;
  height: 55px;
  background-color: #15202b;
  z-index: 5;
  border-bottom: 1px solid #3d5466;
}

.main .tweet {
  cursor: pointer;
  padding: 10px;
  width: calc(100% - 20px);
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-bottom: 1px solid #3d5466;
}

.main .tweet:hover {
  background-color: #1d2734;
}

.main .tweet .showTweetImgContainer {
  text-align: center;
}

.main .tweet .showTweetImgContainer .showTweetImg {
  padding-left: 20vw;
  padding-right: 20vw;
  border-radius: 15px;
  background-color: #403231;
}

.main .tweet .tweetHeader {
  height: 15px;
}

.main .tweet .tweetBody {
  margin-right: 5px;
  margin-left: 5px;
  width: calc(100% - 10px);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.main .tweet .tweetBody .tweetProfile {
  margin-right: 10px;
  width: 50px;
  float: left;
}

.main .tweet .tweetBody .tweetContent {
  float: right;
  width: calc(100% - 60px);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.main .tweet .tweetBody .tweetContent .tweetContentBody {
  width: 100%;
}

.main .tweet .tweetBody .tweetContent .tweetContentBody .tweetPicture {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  height: 250px;
  border-radius: 12px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.main .tweet .tweetBody .tweetContent .tweetContentFooter {
  margin-top: 10px;
  height: 50px;
  width: 100%;
}

.timeForHumans {
  cursor: pointer;
  color: #687784;
  display: inline-block;
}

.timeForHumans:hover {
  text-decoration: underline;
}

.downArrWrapper {
  position: relative;
  float: right;
  width: 27px;
  height: 27px;
  margin-right: -4px;
  margin-top: -7px;
}

.downArrWrapper:hover {
  border-radius: 50%;
  background-color: #162d40;
}

.downArrWrapper .downArr {
  width: 15px;
  height: 15px;
  margin: 6px;
}

.defaultPlaceholder {
  height: 55px;
  width: inherit;
  visibility: hidden;
}

@media only screen and (max-width: 1125px) {
  .rightMain {
    display: inline-block;
    height: 100vh;
    width: calc(50vw - 300px);
    position: absolute;
  }

  .rightMain .rightPlaceholder {
    margin-left: 20px;
    width: 290px;
    float: left;
  }

  .rightMain .rightPlaceholder .rightContentHolder {
    width: inherit;
  }

  .rightMain .rightPlaceholder .rightContentHolder .rightMainContent {
    width: inherit;
    font-size: 25px;
  }
}

@media only screen and (min-width: 1126px) {
  .rightMain {
    display: inline-block;
    height: 100vh;
    position: absolute;
    width: calc(50vw - 300px);
  }

  .rightMain .rightPlaceholder {
    margin-left: 35px;
    width: 350px;
    float: left;
  }

  .rightMain .rightPlaceholder .rightContentHolder {
    width: inherit;
  }

  .rightMain .rightPlaceholder .rightContentHolder .rightMainContent {
    font-size: 25px;
    width: inherit;
  }
}

@media only screen and (max-width: 1005px) {
  .rightMain {
    display: none;
  }
}

.homesearch {
  position: fixed;
  z-index: 5;
  width: inherit;
  height: 50px;
  top: 0px;
  background-color: #15202b;
}

.twitterItem {
  background-color: #192734;
  margin: 5px;
  margin-top: 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 15px;
  padding-bottom: 15px;
}

.twitterItem .twitterItemContent {
  background-color: inherit;
  border-bottom: 1px solid #3d5466;
  padding: 10px;
  width: calc(inherit - 20px);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.twitterItem .twitterItemContent:hover {
  background-color: #202e3a;
  cursor: pointer;
}

.sticky {
  position: fixed;
}

